<%- include("partials/indexheader"); -%>
    <h1>About</h1>
    <p style="font-size: 20px; font-weight: 500;""> I am Chaturbhuj Singh Kirar and I am currently pursuing bachelor of technology in Petroleum  Engineering in Indian Institue of Technology(ISM) Dhanbad.I am a web developer and c/c++ developer.<br>I do love playing cricket , writing shayri and poems .<br><br><b>Email : </b><span style="font-weight: 400;">abc@gmail.com</span><br><b>Phone no : </b><span style="font-weight: 400;">934XXXXXX0</span></p>
    <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
    <h2 style="text-align: center;" >Thank you :)</h2>
<%- include("partials/footer"); -%>
