<%- include("partials/indexheader"); -%>
    <h1>Profile</h1>
    <p style="font-size: 24px;"> <b>Username</b>: <%= contactContent %> </p>
   <p style="font-size: 20px; font-weight: 500;">Your username is how people see when they read your articles. Username cannot be changed. Your proffesional name is preffered.</p>
<%- include("partials/footer"); -%>
