<%- include("partials/indexheader"); -%>

<div></div>
<div></div>
<div></div>
<div class="signup">
  <h1>Sign up</h1>
    <form class="" action="/signup" method="post">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" type="text" name="userid">
        <label>Password</label>
        <input class="form-control" type="text" name="password">
        <label>Confirm Password</label>
        <input class="form-control" type="text" name="rePassword">
      </div>
      <div class="btn-login">
      <button class="btn btn-primary" type="submit" name="button">Submit</button>
      </div>
    </form>
  </div>

<%- include("partials/footer"); -%>
