

html {
  min-height: 100%;
  position: relative;
}
.searchBox{
  padding-top: 10px;
  text-align: center;
}

.login{
  width: 40%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 75px;
  padding: 50px 100px;
}
.signup{
  width: 40%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 40px;
  padding: 50px 100px;

}
.login h1{
  text-align: center;
}
.btn-login{
  text-align: center;
  margin: 10px 0;
}
.btn-login p{
  font-size: 1.5rem;
}
.login-signup{
  border: none;
  background-color: white;
  color: blue;
  text-decoration: underline;
}
input {
  padding: 14px 70px;
  font-size: 15px;
  margin-bottom: 30px;
   
  }
  #subscribe {
  border: none;
  background-color: #213c7a;
  color: white;
  font-size: 16px;
  margin: 4px -4px;
  padding: 16px 40px;
  }

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color:#26211f ;
}
.navbar-nav  li a:hover {
    color: white !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #26211f;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.add{
  text-align: center;
  margin: 30px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: none;
  color: white;
}
.botn{
  background-color:#24a0ed;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 5px;
}
.like{
  background-color: Transparent;
background-repeat:no-repeat;
border: none;
}
.dislike{
  
    background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  
}
